[
  {
    "title": "Kete",
    "domain": "kete",
    "oembed_endpoint": "http://kete/oembed",
    "upload_startpoint": { "label": "or Upload New Image", "url": "http://kete/site/images/new?as_service=true&append_show_url=true" },
    "sources": [
    { "name": "Latest",
      "url": "http://kete/en/site/all/images/rss.xml",
      "searchable_stub": false
    },
    { "name": "Search",
      "url": "http://kete/en/site/search/images/for/terms/rss.xml?search_terms=",
      "searchable_stub": true
    }
    ]
  }
]
